.btn-remove{
    padding:2%;
    margin: 4%;
    border-radius: 10%;
    color:#fff;
    background:red;
}

.btn-complete{
    padding:2%;
    margin: 2%;
    border-radius: 10%;
    color:#fff;
    background:greenyellow;
}

.fnt {
    font-weight: 400;
    font-size: small;
}

#add{
    background: rgba( 33, 132, 241, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.5px );
-webkit-backdrop-filter: blur( 0.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}